<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="com.torchlight.report.MyExporter"
            id="com.torchlight.report.exportHandler"
            label="Model To Doc...">
      </exportHandler>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.torchlight.report.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.torchlight.report.preferences.TorchlightReportsPreferencesPage"
            id="com.torchlight.report.preferences.TorchlightReportsPreferencePage"
            name="Torchlight">
      </page>
   </extension>

</plugin>
